<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div class='filter-row'>
        <label>Show:</label>
        <mat-radio-group [value]="filters.known" (change)="onKnownChanged($event)">
          <mat-radio-button value="true">
            known
          </mat-radio-button>
          <mat-radio-button value="false">
            unknown
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class='filter-row'>
        <label>Ngram type:</label>
        <mat-radio-group [value]="filters.type" (change)="onNgramTypeChanged($event)">
          <mat-radio-button value="unigrams">
            unigram
          </mat-radio-button>
          <mat-radio-button value="bigrams">
            bigram
          </mat-radio-button>
          <mat-radio-button value="trigrams">
            trigram
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class='filter-row' *ngIf="sources">
        <label>Source:</label>
        <mat-select (selectionChange)="onSourceChanged($event)" multiple>
          <mat-option *ngFor="let source of sources" [value]="source.id">
            {{source.description}}
          </mat-option>
        </mat-select>
      </div>

    </mat-expansion-panel>
  </mat-accordion>