.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ngramContainer {
  margin: 15px;
  display: block;
}

.ngramContainer > * {
  margin: 15px 0;
}

table {
  width: 400px;
}

.knownRow {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .knownRow {
    width: 100%;
  }
  table {
    width: 100%;
  }
  .ngramContainer {
    margin: 8px;
  }
}