<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <a mat-button routerLink="/main">
                <mat-icon>navigate_before</mat-icon>
            </a>
            NGram: {{ngramEntry.item}}
        </mat-toolbar>

        <div *ngIf="!ngramEntry || !ngramEntry.item" style="width: 100%; height: 100%;">
            <mat-spinner style="margin: auto; top: 35%"></mat-spinner>
        </div>

        <div *ngIf="ngramEntry" class="ngramContainer">
            <div>
                Detail view for ngram: <strong>{{ngramEntry.item}}</strong>
            </div>

            <div *ngIf="ngramEntry.known" class="knownRow">
              <div>
                <mat-icon style="color:darkgreen">check_circle</mat-icon>
              </div>
              <div>This ngram is known.</div>
              <button mat-stroked-button color="primary" (click)="markAsUnknown()" [disabled]="changingKnownState">Mark as unknown</button>
            </div>
            <div *ngIf="!ngramEntry.known" class="knownRow">
              <div>
                <mat-icon style="color:darkgrey">help</mat-icon>
              </div>
              <div>This ngram is unknown.</div>
              <button mat-stroked-button color="primary" (click)="markAsKnown()" [disabled]="changingKnownState">Mark as known</button>
            </div>

            <div>
                Total count in all sources: <strong>{{ngramEntry.totalCount}}</strong>
            </div>

            <table mat-table [dataSource]="ngramEntry.counts">

                <ng-container matColumnDef="source">
                  <th mat-header-cell *matHeaderCellDef> Source </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.sourceDescription}}
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef> Count </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.count}}
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>