.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ngramContainer {
  margin: 15px;
  display: block;
}

.ngramContainer > * {
  margin: 15px 5px;
}

table {
  min-width: 360px;
}

.knownRow {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}